<!DOCTYPE html>
<html>
<head>
  <title><%- htmlWebpackPlugin.options.title  %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=9">
  <meta name="format-detection" content="telephone=no">
  <meta name="HandheldFriendly" content="true" />
  <meta name="robots" content="noindex,nofollow" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="GA game">
  <meta name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=0 minimal-ui" />

  <!--Tracking code from umeng -->
  <script type="text/javascript">
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1273207290'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1273207290%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <!--script src="//g.alicdn.com/tida/tida/0.0.14/index.js"></script>
  <script src="//g.alicdn.com/sd/ctl/ctl.js"></script>
  <script src="//g.alicdn.com/zebra-pages/offline-vending-machine-home/1.2.6/daemon.js"></script-->

  <script src="js/qrcode.js?v=15"></script>

</head>
<body>
  <script>
    window.VIDEO_SRC = "./data/<=%- sessionUuid %=>.mp4"
  </script>
  <video preload="auto" id="video" poster="./data/<=%- sessionUuid %=>.jpg">
    <source src="./data/<=%- sessionUuid %=>.mp4" type="video/mp4">
  </video>
  <div id="mobilePage"></div>
</body>
</html>
